table {
  background: rgb(234 234 234);
  border-collapse: separate;
  border: solid black 1px;
  border-radius: 6px;
  text-align: center;
}

td,
th {
  border-left: solid black 1px;
  border-top: solid black 1px;
  padding: 10px;
}

th {
  border-top: none;
}

td:first-child,
th:first-child {
  border-left: none;
}

/* 

button {
  border-radius: 5px;
  background: #007bff;
  color: white;
  border: none;
  padding: 7px;
}

.csv,
.json {
  background: #2aed70;
  border: 2px solid black;
  color: black;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
} */
