table {
  background: rgb(234 234 234) !important;
  border-radius: 10px;
}

button {
  border-radius: 5px;
  background: #007bff;
  color: white;
  border: none;
  padding: 7px;
}

.csv,
.json {
  background: #2aed70;
  border: 2px solid black;
  color: black;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
